.divImg {
  background-image: url("/home/img/Rectangle 37.png");
  height: 800px;
  background-size: cover;
  filter: brightness(0.8);
}
.divImg .head {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.divImg nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.divImg .phomeurl {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.divImg a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.divImg .texts {
  margin-left: 100px;
  margin-top: 220px;
}
.divImg .texts .rest {
  font-family: "Charm", cursive;
  font-weight: 900;
  font-size: 50px;
  color: white;
}
.divImg .texts p {
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: white;
}

.h1get {
  font-family: monospace;
  font-weight: 900;
  text-align: center;
}

.divforGet {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}
.divforGet .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
}
.divforGet .box .container {
  width: 340px;
  margin-left: 30px;
  margin-right: 30px;
}
.divforGet .box .container img {
  width: 100%;
  height: 200px;
}

.All {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #BA5D2C;
  color: white !important;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  border: none;
}

.All a {
  text-decoration: none;
  color: white !important;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.modal {
  width: 45%;
}

.buttonInfo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  margin-top: -130px;
  margin-left: 5%;
  border: none;
  background-color: transparent;
  display: none;
  z-index: 1;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  transition: opacity 0.3s;
}

.buttonInfo:hover {
  opacity: 0.8;
}

.butonKorzin {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  margin-top: -130px;
  margin-left: 13%;
  border: none;
  background-color: transparent;
  display: none;
  z-index: 1;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  transition: opacity 2s;
}

.container:hover {
  transition: 2s;
}
.container:hover .buttonInfo {
  display: block;
}
.container:hover .butonKorzin {
  display: block;
}

.Show {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  border: 1px solid white;
  margin-top: 30px;
}

.Show :hover {
  background-color: white;
  color: #BA5D2C;
  border: 1px solid #BA5D2C;
  transition: 0.3s;
  position: relative;
  z-index: 3;
}

.name {
  font-family: monospace;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

@media (max-width: 400px) {
  .divImg {
    width: 98%;
  }
  .head {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    width: 98%;
    margin: auto;
    display: block;
  }
  nav a {
    display: none;
  }
  .modal {
    width: 90%;
    margin: auto;
  }
  .modal div {
    width: 98%;
    margin: auto;
    display: block;
  }
  .texts {
    margin-left: 15px;
    margin-right: 15px;
  }
  .box {
    margin-left: 15px;
    margin-right: 15px;
  }
  .container {
    width: 100%;
    display: block;
  }
  .butonKorzin {
    margin-left: 200px;
  }
  .buttonInfo {
    margin-left: 10%;
  }
}
@media (max-width: 912px) {
  .divImg {
    width: 98%;
  }
  .head {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    width: 98%;
    margin: auto;
    display: block;
  }
  nav a {
    display: none;
  }
  .modal {
    width: 98%;
    margin: auto;
  }
  .modal div {
    width: 98%;
    margin: auto;
    display: block;
  }
  .texts {
    margin-left: 15px;
    margin-right: 15px;
  }
  .box {
    margin-left: 15px;
    margin-right: 15px;
  }
  .container {
    width: 100%;
    display: block;
  }
  .butonKorzin {
    margin-left: 22%;
  }
  .buttonInfo {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=style.css.map */